html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.site__content {
    flex-grow: 1;
}

.color {
    background-color: red;
}

.colorss {
    background-color: #fff;
}

.colors {
    background-color: white;
}

.container {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 32px 20px;
    display: flex;
}

// Theme
.dark {
    color: #fff;
    background-color: rgba(87, 81, 0, 0.562);
}

.light {
    color: dimgrey;
    background-color: white;
}

.star {
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}